* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: blue;
  margin-right: 15rem;
  margin-left: 15rem;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

header {
  background-color: blueviolet;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  font-size: 2rem;
  padding-top: 2rem;
  padding-right: 10rem;
}

nav a {
  color: #000;
}

nav img {
  border-radius: 50%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
}

.recipe-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 15rem;
  margin-top: 5rem;
  gap: 8rem;
}

.recipe-board img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.item-name {
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.recipe-card button {
  width: 10rem;
  padding: 0.7rem;
  align-self: center;
}

.like-icon-num {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.num-likes {
  color: #fdffff;
  font-size: 1.5rem;
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48;
}

.comment-btn,
.reserve-btn {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5em;
  color: red;
  border: none;
}

/* Pop Up section */
.pop-up {
  display: none;
  background-color: aqua;
  height: 96.5vh;
  padding-top: 2rem;
}

.pop-up-card {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: azure;
  height: 95vh;
  border: 5px solid #000;
}

.cancel-icon {
  font-size: 3rem;
  color: #000;
  float: right;
  margin-right: 2rem;
  font-weight: 900;
}

.pop-up-img {
  /* background-color: purple;
  height: 15rem;
  width: 20rem; */
  align-self: center;
}

.pop-up img {
  height: 15rem;
  width: 20rem;
}

.pop-up-item-name {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

.pop-up-item-details {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  column-gap: 15rem;
  font-size: 1.5rem;
}
footer {
  margin-top: 20px;
  background-color: blueviolet;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}

footer p {
  margin: 0;
}
